
header {
  background: url(images/garden-of-peace1.jpg);
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  transition: all 1s;
}
header {
  line-height: 5;
}
header .my-image {
  width: 180px;
  height: 180px;
  border-radius: 10%;
  border: 3px solid grey;
  margin-left: 30px;
  transition: all .10s;
}
header .my-image:hover {
  transform: scale(1.2) rotate(360deg);
}
h3 {
  background-color: #c0c0c0;
  color: black;
  padding: 10px;
  border-radius: 50px;
  display: table;
  margin: 10px auto;
}
h2 {
  color: navy;
  font: bold 24px;
}
p {
  color: blue;
  font:  italic bold 16px;
}
ul,li {
  font: italic bold 18px;
  color: purple;
}
div.warning {
  width: 50%;
  height: 50%;
  color: #990033;
  background-color: #99ffcc;
  font: italic bold 24px;
  margin: 0;
  }
body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222;
  background: #f7f5f0;
}
.flex {
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
}
